about.pug
- let title = "about us"
doctype html
html
  include head.pug
  body(class="container")
    include header.pug
    main#main
        .person
          img(src="img/mark-turtle.jpg" alt="Mark Khosravi with a turtle" class="center-eighty-percent")
          h3 Mark Khosravi
        p Mark Khosravi is a 20+ year veteran science teacher for Fairfax County. In addition, he was a park naturalist for Fairfax County Parks. He has also been a martial arts instructor. He is an instructor for NWCOA's Venomous Snake Handling course for wildlife control operators. Mark lives in Clifton, and can respond to calls almost anywhere in NoVA, but focuses on Fairfax, Arlington, and Alexandria.
        .person
          img(src="img/bonnie-with-snake.jpg" alt=" Bonnie Keller with a snake")
          h3 Bonnie Keller
        p Bonnie Keller is a 25+ year veteran science teacher, currently in Prince William county. She operated VA Reptile Rescue for 17 years (a shelter/rescue for exotic reptile pets), and has been doing snake relocation for 20 years. She has been an assistant instructor for NWCOA's Venomous Snake Handling course for wildlife control operators. Bonnie lives in Woodbridge, and can respond to calls almost anywhere in NoVA, but focuses on eastern Prince William, southern Fairfax, Stafford and Fauquier.
        .person
          img(src="img/bill-tiny-frog.jpg" alt="Bill Crisp with a tiny frog" class="center-top")
          h3 Bill Crisp
        p Bill Crisp has worked in the technology consulting field for the last 22 years, managing strategic operations across the US within a federal practice. Outside of work, he is an avid hiker and outdoor enthusiast with a love for wildlife, especially reptiles! Bill is very involved within his community and loves promoting awareness about the importance of local reptile species and other wildlife. Bill has been working with snakes and other reptiles for over 20 years. Before joining K2 Wildlife, he owned a small reptile business (Crisp B Creatures) doing birthday parties, educational demos, and reptile rehoming. Bill lives in Bristow, and can respond to calls almost anywhere in NoVA, but focuses on Western Prince William County, including Warrenton, Gainesville, Haymarket, and Manassas.
        img(src="img/k2cteam.jpg" alt="Mark, Bonnie, Bill" class="about")
    include footer.pug

about.html
<!DOCTYPE html><html><head><title>K2C Wildlife Encounters - about us</title><link rel="stylesheet" href="/css/index.css"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&amp;display=swap" rel="stylesheet"></head><body class="container"><header id="header"><img class="logo" src="/img/K2C.png" alt="K2C logo"><nav id="nav"><ul><li><a href="index.html">Home</a></li><li><a href="services.html">Services</a></li><li><a href="about.html">About Us</a></li><li><a href="gallery.html">Photos</a></li></ul></nav></header><main id="main"><div class="person"><img class="center-eighty-percent" src="img/mark-turtle.jpg" alt="Mark Khosravi with a turtle"><h3>Mark Khosravi</h3></div><p>Mark Khosravi is a 20+ year veteran science teacher for Fairfax County. In addition, he was a park naturalist for Fairfax County Parks. He has also been a martial arts instructor. He is an instructor for NWCOA's Venomous Snake Handling course for wildlife control operators. Mark lives in Clifton, and can respond to calls almost anywhere in NoVA, but focuses on Fairfax, Arlington, and Alexandria.</p><div class="person"><img src="img/bonnie-with-snake.jpg" alt=" Bonnie Keller with a snake"><h3>Bonnie Keller</h3></div><p>Bonnie Keller is a 25+ year veteran science teacher, currently in Prince William county. She operated VA Reptile Rescue for 17 years (a shelter/rescue for exotic reptile pets), and has been doing snake relocation for 20 years. She has been an assistant instructor for NWCOA's Venomous Snake Handling course for wildlife control operators. Bonnie lives in Woodbridge, and can respond to calls almost anywhere in NoVA, but focuses on eastern Prince William, southern Fairfax, Stafford and Fauquier.</p><div class="person"><img class="center-top" src="img/bill-tiny-frog.jpg" alt="Bill Crisp with a tiny frog"><h3>Bill Crisp</h3></div><p>Bill Crisp has worked in the technology consulting field for the last 22 years, managing strategic operations across the US within a federal practice. Outside of work, he is an avid hiker and outdoor enthusiast with a love for wildlife, especially reptiles! Bill is very involved within his community and loves promoting awareness about the importance of local reptile species and other wildlife. Bill has been working with snakes and other reptiles for over 20 years. Before joining K2 Wildlife, he owned a small reptile business (Crisp B Creatures) doing birthday parties, educational demos, and reptile rehoming. Bill lives in Bristow, and can respond to calls almost anywhere in NoVA, but focuses on Western Prince William County, including Warrenton, Gainesville, Haymarket, and Manassas.</p><img class="about" src="img/k2cteam.jpg" alt="Mark, Bonnie, Bill"></main><footer id="footer"><p>Copyright (c) K2C Wildlife Encounters, LLC</p><p>Website by River Web Solutions, LLC</p></footer></body></html>
