gallery.pug
- let title = "photos"
-let pics = ["bill-1.jpg", "bill-and-kid.jpg", "bill-bonnie.jpg", "bill-catching-snake.jpg", "bill-holding-snake-1.jpg", "bill-holding-snake.jpg", "bill-snake-boys.jpg", "bill-snake-on-screen.jpg", "bill-snake.jpg", "bill-with-big-snake.jpg", "bill-with-lizard.jpg", "bill-with-snake-1.jpg", "bill-with-snake.jpg", "bill.jpg", "bonnie-and-girl-with-snake.jpg", "boy-with-snake.jpg", "buckets-for-snakes.jpg", "bush-1.jpg", "bush.jpg", "caught-snake-in-netting.jpg", "caught-snake.jpg", "caught.jpg", "corner.jpg", "crawling-in-house.jpg", "cutting-snake-from-fence.jpg", "decal.jpg", "fencing.jpg", "garage-snake.jpg", "girl-with-snake-1.jpg", "girl-with-snake.jpg", "held-snake.jpg", "holding-snake.jpg", "hole-in-ceiling.jpg", "huge-tortoise.jpg", "injured-bird.jpg", "injured-snake.jpg", "injured-turtle.jpg", "lying-down.jpg", "man-with-snake.jpg", "mark-1.jpg", "mark-big-turtle.jpg", "mark-bonnie-snake.jpg", "mark-bonnie.jpg", "mark-catching-snake.jpg", "mark-large-snake.jpg", "mark-turtle.jpg", "more-tools.jpg", "nest.jpg", "netting.jpg", "outdoor-snake.jpg", "pool-float.jpg", "sidewalk-snake.jpg", "small-snake.jpg", "snake-1.jpg", "snake-2.jpg", "snake-3.jpg", "snake-4.jpg", "snake-5.jpg", "snake-6.jpg", "snake-7.jpg", "snake-8.jpg", "snake-9.jpg", "snake-in-box.jpg", "snake-in-bush.jpg", "snake-in-garden-netting.jpg", "snake-in-grass.jpg", "snake-in-hand.jpg", "snake-in-net-1.jpg", "snake-in-net.jpg", "snake-in-netting-1.jpg", "snake-in-netting.jpg", "snake-in-palm.jpg", "snake-in-wire-lattice.jpg", "snake-in-woodwork.jpg", "snake-on-bag.jpg", "snake-on-hook.jpg", "snake-vet-care.jpg", "snake-wearing.jpg", "snake.jpg", "snakes.jpg", "stairs.jpg", "tiny-snake-1.jpg", "tiny-snake.jpg", "tools-of-trade.jpg", "tools.jpg", "upside-down.jpg", "vent-1.jpg", "vent.jpg", "wires.jpg", "yard.jpg", "young-girl-with-snake.jpg", ]
-let desc = ["Bill with snakes in tanks", "Bill showing snake to young boy. Caption reads Happy National Reptile Awareness Day", "Bill and Bonnie in a woodsy area", "Bill with some snake catching tools", "Bill with a snake", "Bill holding a snake", "Bill showing a snake to a couple of young kids", "Bill pointing to a screen about snake identification", "Bill holding a snake and standing next to a poster for K2C", "Bill holding a very large snake", "Bill with some kind of lizard", "Bill holding a snake", "Bill with a snake", "Bill", "Bonnie with a girl, each holding a snake.", "Boy with a snake wrapped on his arm.", "A pile of buckets for snake catching", "Picture of a small tree", "A bush", "Caught snake that is tangled in some netting", "Caught snake in a bucket", "Caught snake in a bucket", "The corner of a yard", "Person crawling in a house with some snake finding tools", "Man cutting a wire fence", "Decal with a snake, frog, lizard and fish that says Don't let it loose! Be a responsible pet owner", "Snake between a wire fence and some concrete blocks", "A snake under some machinery", "A girl holding a snake", "A girl holding a snake", "A person holding a snake", "Picture of a hand holding a snake", "Person reaching into a hole in the ceiling", "A huge tortoise being petted on the head", "A small black bird with injury", "Snake that appears to have a nose injury", "An injured turtle", "Man lying down on a walkway, reaching for something", "A man holding a snake and a young child nearby", "Mark holding a snake", "Mark holding a snapping turtle", "Mark and Bonnie holding a snake", "Mark in a truck with Bonnie standing next to him", "Mark standing in a grassy area holding snake catching tools", "Mark holding a large snake", "Mark holding a snapping turtle", "Some tools laid out on a table", "A nest of snakes", "Some netting", "Snake on dirt with a few leaves on ground", "A pool float with a hole in it. The hole is circled to emphasis", "Snake on a sidewalk", "A small snake in the palm of a hand", "Snake in the dirt next to a walkway", "Snake coiled in a grassy area", "Snake in a gravel area", "Snake with some netting around it", "Snake", "Snake", "A hand holding a snake", "Snake on wodden deck", "Snake", "Snake crawling through a cardboard box", "Snake, partially in a bush", "Snake stuck in some garden netting", "Snake in the grass with a bucket nearby", "Small snake in a hand", "Close up of a snake wrapped in garden netting", "Snake in netting", "Close up of a snake wrapped in garden netting", "Snake with injuries from netting", "Tiny snake coiled in the palm of a hand", "Snake wedged between wire lattice and wood beams", "Hands reaching toward snake", "Snake on a bag", "Snake on a snake hook", "X-Ray of snake that ate something it shouldn't have", "Bonnie wearing a snake like a scarf", "Snake", "Several snakes on the arm of a chair", "Snake and stone steps", "Hand holding a tiny snake", "Hand holding another tiny snake", "Tools of the trade on a table", "Snake catching tools", "Man upside down to reach into an area of pvc pipes", "Picture of a dryer vent", "Snake in a different vent", "A vent and some wire cables", "Stone border in a yard", "Young girl holding snake"]
-let i = 0
doctype html
html
  include head.pug
  body(class="container")
    include header.pug
    main#main
        .gallery
          while i < pics.length
            img(src='/img/gallery/' + pics[i] alt= desc[i++])
    include footer.pug

gallery.html
<!DOCTYPE html>
<html>
  <head>
    <title>K2C Wildlife Encounters - photos</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
  </head>
  <body class="container">
    <header id="header"><img class="logo" src="/img/K2C.png" alt="K2C logo">
      <nav id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="gallery.html">Photos</a></li>
        </ul>
      </nav>
    </header>
    <main id="main">
      <div class="gallery"><img src="/img/gallery/bill-1.jpg" alt="Bill with snakes in tanks"><img src="/img/gallery/bill-and-kid.jpg" alt="Bill showing snake to young boy. Caption reads Happy National Reptile Awareness Day"><img src="/img/gallery/bill-bonnie.jpg" alt="Bill and Bonnie in a woodsy area"><img src="/img/gallery/bill-catching-snake.jpg" alt="Bill with some snake catching tools"><img src="/img/gallery/bill-holding-snake-1.jpg" alt="Bill with a snake"><img src="/img/gallery/bill-holding-snake.jpg" alt="Bill holding a snake"><img src="/img/gallery/bill-snake-boys.jpg" alt="Bill showing a snake to a couple of young kids"><img src="/img/gallery/bill-snake-on-screen.jpg" alt="Bill pointing to a screen about snake identification"><img src="/img/gallery/bill-snake.jpg" alt="Bill holding a snake and standing next to a poster for K2C"><img src="/img/gallery/bill-with-big-snake.jpg" alt="Bill holding a very large snake"><img src="/img/gallery/bill-with-lizard.jpg" alt="Bill with some kind of lizard"><img src="/img/gallery/bill-with-snake-1.jpg" alt="Bill holding a snake"><img src="/img/gallery/bill-with-snake.jpg" alt="Bill with a snake"><img src="/img/gallery/bill.jpg" alt="Bill"><img src="/img/gallery/bonnie-and-girl-with-snake.jpg" alt="Bonnie with a girl, each holding a snake."><img src="/img/gallery/boy-with-snake.jpg" alt="Boy with a snake wrapped on his arm."><img src="/img/gallery/buckets-for-snakes.jpg" alt="A pile of buckets for snake catching"><img src="/img/gallery/bush-1.jpg" alt="Picture of a small tree"><img src="/img/gallery/bush.jpg" alt="A bush"><img src="/img/gallery/caught-snake-in-netting.jpg" alt="Caught snake that is tangled in some netting"><img src="/img/gallery/caught-snake.jpg" alt="Caught snake in a bucket"><img src="/img/gallery/caught.jpg" alt="Caught snake in a bucket"><img src="/img/gallery/corner.jpg" alt="The corner of a yard"><img src="/img/gallery/crawling-in-house.jpg" alt="Person crawling in a house with some snake finding tools"><img src="/img/gallery/cutting-snake-from-fence.jpg" alt="Man cutting a wire fence"><img src="/img/gallery/decal.jpg" alt="Decal with a snake, frog, lizard and fish that says Don't let it loose! Be a responsible pet owner"><img src="/img/gallery/fencing.jpg" alt="Snake between a wire fence and some concrete blocks"><img src="/img/gallery/garage-snake.jpg" alt="A snake under some machinery"><img src="/img/gallery/girl-with-snake-1.jpg" alt="A girl holding a snake"><img src="/img/gallery/girl-with-snake.jpg" alt="A girl holding a snake"><img src="/img/gallery/held-snake.jpg" alt="A person holding a snake"><img src="/img/gallery/holding-snake.jpg" alt="Picture of a hand holding a snake"><img src="/img/gallery/hole-in-ceiling.jpg" alt="Person reaching into a hole in the ceiling"><img src="/img/gallery/huge-tortoise.jpg" alt="A huge tortoise being petted on the head"><img src="/img/gallery/injured-bird.jpg" alt="A small black bird with injury"><img src="/img/gallery/injured-snake.jpg" alt="Snake that appears to have a nose injury"><img src="/img/gallery/injured-turtle.jpg" alt="An injured turtle"><img src="/img/gallery/lying-down.jpg" alt="Man lying down on a walkway, reaching for something"><img src="/img/gallery/man-with-snake.jpg" alt="A man holding a snake and a young child nearby"><img src="/img/gallery/mark-1.jpg" alt="Mark holding a snake"><img src="/img/gallery/mark-big-turtle.jpg" alt="Mark holding a snapping turtle"><img src="/img/gallery/mark-bonnie-snake.jpg" alt="Mark and Bonnie holding a snake"><img src="/img/gallery/mark-bonnie.jpg" alt="Mark in a truck with Bonnie standing next to him"><img src="/img/gallery/mark-catching-snake.jpg" alt="Mark standing in a grassy area holding snake catching tools"><img src="/img/gallery/mark-large-snake.jpg" alt="Mark holding a large snake"><img src="/img/gallery/mark-turtle.jpg" alt="Mark holding a snapping turtle"><img src="/img/gallery/more-tools.jpg" alt="Some tools laid out on a table"><img src="/img/gallery/nest.jpg" alt="A nest of snakes"><img src="/img/gallery/netting.jpg" alt="Some netting"><img src="/img/gallery/outdoor-snake.jpg" alt="Snake on dirt with a few leaves on ground"><img src="/img/gallery/pool-float.jpg" alt="A pool float with a hole in it. The hole is circled to emphasis"><img src="/img/gallery/sidewalk-snake.jpg" alt="Snake on a sidewalk"><img src="/img/gallery/small-snake.jpg" alt="A small snake in the palm of a hand"><img src="/img/gallery/snake-1.jpg" alt="Snake in the dirt next to a walkway"><img src="/img/gallery/snake-2.jpg" alt="Snake coiled in a grassy area"><img src="/img/gallery/snake-3.jpg" alt="Snake in a gravel area"><img src="/img/gallery/snake-4.jpg" alt="Snake with some netting around it"><img src="/img/gallery/snake-5.jpg" alt="Snake"><img src="/img/gallery/snake-6.jpg" alt="Snake"><img src="/img/gallery/snake-7.jpg" alt="A hand holding a snake"><img src="/img/gallery/snake-8.jpg" alt="Snake on wodden deck"><img src="/img/gallery/snake-9.jpg" alt="Snake"><img src="/img/gallery/snake-in-box.jpg" alt="Snake crawling through a cardboard box"><img src="/img/gallery/snake-in-bush.jpg" alt="Snake, partially in a bush"><img src="/img/gallery/snake-in-garden-netting.jpg" alt="Snake stuck in some garden netting"><img src="/img/gallery/snake-in-grass.jpg" alt="Snake in the grass with a bucket nearby"><img src="/img/gallery/snake-in-hand.jpg" alt="Small snake in a hand"><img src="/img/gallery/snake-in-net-1.jpg" alt="Close up of a snake wrapped in garden netting"><img src="/img/gallery/snake-in-net.jpg" alt="Snake in netting"><img src="/img/gallery/snake-in-netting-1.jpg" alt="Close up of a snake wrapped in garden netting"><img src="/img/gallery/snake-in-netting.jpg" alt="Snake with injuries from netting"><img src="/img/gallery/snake-in-palm.jpg" alt="Tiny snake coiled in the palm of a hand"><img src="/img/gallery/snake-in-wire-lattice.jpg" alt="Snake wedged between wire lattice and wood beams"><img src="/img/gallery/snake-in-woodwork.jpg" alt="Hands reaching toward snake"><img src="/img/gallery/snake-on-bag.jpg" alt="Snake on a bag"><img src="/img/gallery/snake-on-hook.jpg" alt="Snake on a snake hook"><img src="/img/gallery/snake-vet-care.jpg" alt="X-Ray of snake that ate something it shouldn't have"><img src="/img/gallery/snake-wearing.jpg" alt="Bonnie wearing a snake like a scarf"><img src="/img/gallery/snake.jpg" alt="Snake"><img src="/img/gallery/snakes.jpg" alt="Several snakes on the arm of a chair"><img src="/img/gallery/stairs.jpg" alt="Snake and stone steps"><img src="/img/gallery/tiny-snake-1.jpg" alt="Hand holding a tiny snake"><img src="/img/gallery/tiny-snake.jpg" alt="Hand holding another tiny snake"><img src="/img/gallery/tools-of-trade.jpg" alt="Tools of the trade on a table"><img src="/img/gallery/tools.jpg" alt="Snake catching tools"><img src="/img/gallery/upside-down.jpg" alt="Man upside down to reach into an area of pvc pipes"><img src="/img/gallery/vent-1.jpg" alt="Picture of a dryer vent"><img src="/img/gallery/vent.jpg" alt="Snake in a different vent"><img src="/img/gallery/wires.jpg" alt="A vent and some wire cables"><img src="/img/gallery/yard.jpg" alt="Stone border in a yard"><img src="/img/gallery/young-girl-with-snake.jpg" alt="Young girl holding snake">
      </div>
    </main>
    <footer id="footer">
      <p>Copyright (c) K2C Wildlife Encounters, LLC</p>
      <p>Website by River Web Solutions, LLC</p>
    </footer>
  </body>
</html>
