services.html
<!DOCTYPE html>
<html>
  <head>
    <title>K2C Wildlife Encounters - services</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
  </head>
  <body class="container">
    <header id="header"><img class="logo" src="/img/K2C.png" alt="K2C logo">
      <nav id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="gallery.html">Photos</a></li>
        </ul>
      </nav>
    </header>
    <main class="services" id="main">
      <h1>Services &amp; Fees</h1>
      <div class="intro">
        <p>Please know that we will do everything we can to keep the cost low for you. Our fees are set much lower than other companies, as WE ARE NOT EMPLOYEES - WE ARE VOLUNTEERS! Our fees cover our company insurance and our license fees. Any mileage or tip you offer may go to the volunteer, if they choose to accept it. </p>
      </div>
      <h3>Immediate on-site snake relocation 							$25</h3>
      <p>We will come to your location, if possible, and remove the animal if we can. You must watch it while we are on the way! If you are in the Clifton or Lake Ridge areas, we may not charge a fee, but always welcome donations. Our fee structure is intentionally low, as we only aim to cover our expenses for licenses, insurance, gas, etc. This is not a moneymaking venture for us, but the fee is due even if the animal leaves while we are en-route.</p>
      <h3>Interior &amp; Exterior Sweep                                                                                     $275</h3>
      <p>We can inspect the interior of your home (up to about 2000 square feet) and yard, up to a 1/2 acre. If we find the offending critters, we will remove/relocate them, but no guarantees. We will look for areas where snakes and other animals can enter your home, find cover or food, etc. We will make written recommendations on how to remediate your particular situation.  We do NOT do the exclusion/carpentry work ourselves - we will let you know what is needed, if any. Our biggest and most important service is educating you on the animals that are there, or could be there. Knowledge is power!</p>
      <h3>Exterior Inspection &amp; Consultation									$175</h3>
      <p>We can inspect the exterior of your home and yard, up to a 1/2 acre. If we find the offending critters, we will remove/relocate them. We will look for areas where snakes and other animals can enter your home, find outside cover or food, etc. We will make written recommendations on how to remediate your particular situation.  We do NOT do the exclusion/carpentry work ourselves - we will let you know what is needed, if any. Our biggest and most important service is educating you on the animals that are there, or could be there. Knowledge is power! Larger lots incur additional fees/time.</p>
      <h3>Attics, Basements, Crawl Spaces, Outbuildings &amp; Garages		$75</h3>
      <p>This is in addition to an exterior inspection or interior inspection. Attic sweeps may need to occur in the evening due to high temperatures.</p>
      <h3>Trapping													starting at $30</h3>
      <p>After we do an inspection, if we need to leave a trap, we can do so, starting at $30. You may be asked to check the trap at 12 hours intervals, depending on the situation. We will return to check and relocate any captured critters.</p>
    </main>
    <footer id="footer">
      <p>Copyright (c) K2C Wildlife Encounters, LLC</p>
      <p>Website by River Web Solutions, LLC</p>
    </footer>
  </body>
</html>

services.pug
- let title = "services"
doctype html
html
  include head.pug
  body(class="container")
    include header.pug
    main#main(class="services")
        h1 Services &amp; Fees
        div(class="intro")
            p Please know that we will do everything we can to keep the cost low for you. Our fees are set much lower than other companies, as WE ARE NOT EMPLOYEES - WE ARE VOLUNTEERS! Our fees cover our company insurance and our license fees. Any mileage or tip you offer may go to the volunteer, if they choose to accept it. 
        h3 Immediate on-site snake relocation 							$25
        p We will come to your location, if possible, and remove the animal if we can. You must watch it while we are on the way! If you are in the Clifton or Lake Ridge areas, we may not charge a fee, but always welcome donations. Our fee structure is intentionally low, as we only aim to cover our expenses for licenses, insurance, gas, etc. This is not a moneymaking venture for us, but the fee is due even if the animal leaves while we are en-route.
        h3 Interior &amp; Exterior Sweep                                                                                     $275
        p We can inspect the interior of your home (up to about 2000 square feet) and yard, up to a 1/2 acre. If we find the offending critters, we will remove/relocate them, but no guarantees. We will look for areas where snakes and other animals can enter your home, find cover or food, etc. We will make written recommendations on how to remediate your particular situation.  We do NOT do the exclusion/carpentry work ourselves - we will let you know what is needed, if any. Our biggest and most important service is educating you on the animals that are there, or could be there. Knowledge is power!
        h3 Exterior Inspection &amp; Consultation									$175
        p We can inspect the exterior of your home and yard, up to a 1/2 acre. If we find the offending critters, we will remove/relocate them. We will look for areas where snakes and other animals can enter your home, find outside cover or food, etc. We will make written recommendations on how to remediate your particular situation.  We do NOT do the exclusion/carpentry work ourselves - we will let you know what is needed, if any. Our biggest and most important service is educating you on the animals that are there, or could be there. Knowledge is power! Larger lots incur additional fees/time.
        h3 Attics, Basements, Crawl Spaces, Outbuildings &amp; Garages		$75
        p This is in addition to an exterior inspection or interior inspection. Attic sweeps may need to occur in the evening due to high temperatures.
        h3 Trapping													starting at $30
        p After we do an inspection, if we need to leave a trap, we can do so, starting at $30. You may be asked to check the trap at 12 hours intervals, depending on the situation. We will return to check and relocate any captured critters.
    include footer.pug
